<div class="form_item_block">
  <label>Repo URL:<span class="asterisk">*</span></label>
  <input type="url" ng-model="repoUrl" ng-required="true"/>
  <span class="form_error" ng-show="GOINPUTNAME[repoUrl].$error.url">Incorrect url format.</span>
  <span class="form_error" ng-show="GOINPUTNAME[repoUrl].$error.server">{{ GOINPUTNAME[repoUrl].$error.server }}</span>
</div>

<div class="form_item_block">
  <label>Repo Branch Name:<span class="asterisk">*</span></label>
  <input type="text" ng-model="branchName" ng-required="true"/>
  <!--<span class="form_error" ng-show="GOINPUTNAME[branchName].$error.branchName">Incorrect branch name format.</span>-->
  <span class="form_error" ng-show="GOINPUTNAME[branchName].$error.server">{{ GOINPUTNAME[branchName].$error.server }}</span>
</div>

<div class="form_item_block">
  <label>GitHub Authentication Token:<span class="asterisk">*</span></label>
  <input type="password" ng-model="authToken" ng-required="true"/>
  <!--<span class="form_error" ng-show="GOINPUTNAME[authToken].$error.authToken">Incorrect auth token format.</span>-->
  <span class="form_error" ng-show="GOINPUTNAME[authToken].$error.server">{{ GOINPUTNAME[authToken].$error.server }}</span>
</div>
